/*********** GENERAL ***********/
:root {
  --color-light: #EDF5FD;
  --color-dark: #030D17;
  --color-medium-blue: #308CE1;
  --color-medium-green: #29B17D;
  --color-medium-red: #A35563;
  --color-light-blue: #CCE2F8;
  --color-light-green: #90E5C4;
  --color-light-red: #DDBFC5;
  --color-highlight: #D8ED62;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark) !important;
  font-family: "Comfortaa" !important;
}

ul {
  font-family: Verdana, Geneva, sans-serif !important;
}

ol {
  font-family: Verdana, Geneva, sans-serif !important;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: 700 !important;
  line-height: 2 !important;
}

h2 {
  font-size: 2.5rem !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
}

p {
  text-align: justify !important;
  color: var(--color-dark);
  font-family: Verdana, Geneva, sans-serif !important;
  font-size: 1.2rem !important;
  font-style: normal !important;
}

hr {
  color: var(--color-light) !important;
  background-color: transparent;
  border: solid var(--color-light-green) 2px;
  border-bottom: none;
}

.xsmall-p {
  font-size: 0.4rem;
}

.small-p {
  font-size: 0.8rem;
}

.xlarge-p {
  font-size: 1.6rem;
}

.large-p {
  font-size: 1.4rem;
}

.underline-highlight {
  text-underline-offset: 20px;
  text-decoration: underline var(--color-highlight);
  text-underline-position: under;
}

.underline-light {
  text-underline-offset: 20px;
  text-decoration: underline var(--color-light);
  text-underline-position: under;
}

.underline-dark {
  text-underline-offset: 20px;
  text-decoration: underline var(--color-dark);
  text-underline-position: under;
}

.background-light {
  background-color: var(--color-light);
}

.background-dark {
  background-color: var(--color-dark);
}

.content-wrapper {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.test-container {
  width: 100%;
  height: 5000px;
  background-color: red;
}

.txt-light {
  color: var(--color-light);
}

.margin-md {
  margin: 5%;
}

/*********** FONTS ***********/
@font-face {
  src: url('https://2020.igem.org/wiki/images/0/00/T--Stuttgart--montserrat-v15-latin-italic.eot');
  src: local('Montserrat RegularItalic'), local('Montserrat-RegularItalic'),
    url('https://2020.igem.org/wiki/images/0/00/T--Stuttgart--montserrat-v15-latin-italic.eot') format('embedded-opentype'),
    url('https://2020.igem.org/wiki/images/8/8e/T--Stuttgart--montserrat-v15-latin-italic.woff') format('woff'),
    url('https://2020.igem.org/wiki/images/f/f0/T--Stuttgart--montserrat-v15-latin-italic.ttf') format('truetype'),
    url('https://2020.igem.org/wiki/images/7/75/T--Stuttgart--montserrat-v15-latin-italic.svg') format('svg');
  font-family: 'Montserrat-Italic';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('https://2020.igem.org/File:T--UGent_Belgium--fonts--montserrat-v14-latin--montserrat-v14-latin-regular.eot');
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('https://2020.igem.org/File:T--UGent_Belgium--fonts--montserrat-v14-latin--montserrat-v14-latin-regular.eot') format('embedded-opentype'),
    url('https://2020.igem.org/File:T--UGent_Belgium--fonts--montserrat-v14-latin--montserrat-v14-latin-regular.woff') format('woff'),
    url('https://2020.igem.org/File:T--UGent_Belgium--fonts--montserrat-v14-latin--montserrat-v14-latin-regular.ttf') format('truetype'),
    url('https://2020.igem.org/File:T--UGent_Belgium--fonts--montserrat-v14-latin--montserrat-v14-latin-regular.svg') format('svg');
  '),
font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('https://2020.igem.org/wiki/images/b/ba/T--Stuttgart--comfortaa-v29-latin-700.eot');
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
    url('https://2020.igem.org/wiki/images/b/ba/T--Stuttgart--comfortaa-v29-latin-700.eot') format('embedded-opentype'),
    url('https://2020.igem.org/wiki/images/0/02/T--Stuttgart--comfortaa-v29-latin-700.woff') format('woff'),
    url('https://2020.igem.org/wiki/images/c/cd/T--Stuttgart--comfortaa-v29-latin-700.svg') format('svg');
  font-style: normal;
  font-weight: 700;
  font-family: 'Comfortaa';
}

/*********** txt-img-highlight ***********/
.regular-row {
  background-color: #030D17;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: 10% 0;
  padding: 5px;
  text-align: left;
}

.img-grid-item {
  display: block;
  margin: 3%;
  max-height: 100%;
  max-width: 100%;
}

.txt-grid-item {
  border: solid white;
  border-radius: 15px;
  height: 100%;
  padding: 3%;
  width: 100%;
}

.img-std {
  max-height: 100%;
  max-width: 100%;
  border: 4px solid var(--color-medium-blue);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
}

/*********** navbar ***********/
.dropdown-item {}

.navbar-img {
  height: 30px;
}

.testContainer {
  height: 5000px;
  width: auto;
}

.navbar {
  background-color: var(--color-dark);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 60px;
}

#navbar-wrapper {
  padding: 3% 0;
}

.hidden {
  display: none;
}

.minimized:hover {
  opacity: 1 !important;
}

.minimized-container {
  width: 220px;
}

/*********** txt-highlight ***********/
.highlight-container {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  color: white;
  margin: 10% 0;
  padding: 5%;
  text-align: right;
}

/*********** header-txt ***********/
.header-txt-container {
  padding: 2% 5%;
}

/*********** sidebar ***********/
.sidebar {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%)
}

.sidebar-item:hover {
  color: var(--color-light-green);
  font-size: 1.3rem;
}

.sidebar-item {
  background: var(--color-light-green);
  border: none;
  border-radius: 100%;
  color: var(--color-light-green);
  display: block;
  font-family: "Comfortaa";
  height: 20px;
  margin-bottom: 1rem;
  overflow: visible;
  padding: 0;
  text-align: center;
  text-indent: 25px;
  white-space: nowrap;
  width: 20px;
}

.sidebar-item.active {
  background: var(--color-medium-green);
  color: var(--color-medium-green);
}

.sidebar-item:visited {
  color: var(--color-light-green);
}

/*********** iFrame Dropdown ***********/
.card {
  background-color: var(--color-medium-blue);
}

.card-header {
  background-color: var(--color-light-blue);
}

.btn-card {
  color: var(--color-dark);
}

.accordion {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  margin: 2% 0;
}

/*********** img-descr ***********/
.descr-txt {
  font-size: 0.9rem !important;
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--color-medium-blue);
  color: var(--color-light);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
}

.img-descr-container {
  margin: 1% 0;
}

.descr-container {
  margin-top: 15px;
}

/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/