/*********** GENERAL ***********/
:root {
  --color-light: #EDF5FD;
  --color-dark: #030D17;
  --color-medium-blue: #308CE1;
  --color-medium-green: #29B17D;
  --color-medium-red: #A35563;
  --color-light-blue: #CCE2F8;
  --color-light-green: #90E5C4;
  --color-light-red: #DDBFC5;
  --color-highlight: #D8ED62;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-family: 'Comfortaa', serif;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 2;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  color: var(--color-dark);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.xsmall-p {
  font-size: 0.4rem;
}

.small-p {
  font-size: 0.8rem;
}

.xlarge-p {
  font-size: 1.6rem;
}

.large-p {
  font-size: 1.4rem;
}

.underline-highlight {
  text-underline-offset: 20px;
  text-decoration: underline var(--color-highlight);
  text-underline-position: under;
}

.underline-light {
  text-underline-offset: 20px;
  text-decoration: underline var(--color-light);
  text-underline-position: under;
}

.underline-dark {
  text-underline-offset: 20px;
  text-decoration: underline var(--color-dark);
  text-underline-position: under;
}

.background-light {
  background-color: var(--color-light);
}

.background-dark {
  background-color: var(--color-dark);
}

.content-wrapper {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.test-container {
  height: 5000px;
}

.txt-light {
  color: var(--color-light);
}

.margin-md {
  margin: 5%;
}

/*********** txt-img-highlight ***********/
.regular-row {
  background-color: #030D17;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  margin: 10% 0;
  padding: 5px;
  text-align: left;
}

.img-grid-item {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 3%;
}

.txt-grid-item {
  border: solid white;
  border-radius: 15px;
  height: 100%;
  padding: 3%;
  width: 100%;
}

/*********** navbar ***********/
.testContainer {
  height: 5000px;
  width: auto;
}

.navbar {
  background-color: var(--color-dark);
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

#navbar-wrapper {
  padding: 3% 5%;
}

.hidden {
  display: none;
}

.minimized:hover {
  opacity: 1 !important;
}

/*********** txt-highlight ***********/
.highlight-container {
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  color: white;
  margin: 10% 0;
  padding: 5%;
  text-align: right;
}

/*********** header-txt ***********/
.header-txt-container {
  padding: 5%;
}

/*********** sidebar ***********/
.sidebar {
  left: 1rem;
  top: 50%;
  transform: translateY(-50%)
}

.sidebar-item:hover {
  color: var(--color-light-green);
}

.sidebar-item {
  background: var(--color-light-green);
  border: none;
  border-radius: 100%;
  color: var(--color-light-green);
  display: block;
  font-family: 'Comfortaa', serif;
  height: 20px;
  margin-bottom: 1rem;
  padding: 0;
  text-align: center;
  text-indent: 25px;
  width: 20px;
}

.sidebar-item.active {
  background: var(--color-medium-green);
  color: var(--color-medium-green);
}

/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/
/*********** BLANK ***********/