<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="/Users/christopher/Documents/Web Development/bootstrap-4.5.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles-navbar.css">
  <link rel="stylesheet" href="/Users/christopher/Documents/Web Development/iGEM Wiki/fonts/webfontkit-20201015-115525/stylesheet.css">

  <!-- Bootstrap Scripts -->
  <script src="/Users/christopher/Documents/Web Development/bootstrap-4.5.2/site/docs/4.5/assets/js/vendor/jquery.slim.min.js"></script>
  <script src="/Users/christopher/Documents/Web Development/bootstrap-4.5.2/dist/js/bootstrap.min.js"></script>
  <script src="/Users/christopher/Documents/Web Development/bootstrap-4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <script src="/Users/christopher/Documents/Web Development/jQuery.js" charset="utf-8"></script>
</body>

</html>
