.regular-row {
  background-color: #030D17;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  color: #fff;
  /* height: 500px; */
  margin: 3%;
  padding: 5px;
  text-align: left;
}

.img-grid-item {
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  padding: 3%;
}

.txt-grid-item {
  border: solid white;
  border-radius: 15px;
  height: 100%;
  padding: 3%;
  width: 100%;
}

.test {
  background-color: red;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "comfortaaregular";
  font-size: 3rem;
  line-height: 2;
}

p {
  font-family: 'montserratregular';
  font-size: 1.2rem;
}