.testContainer {
  height: 5000px;
  width: auto;
}

.navbar {
  background-color: #030D17;
  border-radius: 50px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
  padding: 20px;
}

#navbar-wrapper {
  padding: 3%;
}

.container {
  margin: 0;
}

.background {
  background-color: #EDF5FD;
}

.hidden {
  display: none;
}

.minimized:hover {
  opacity: 1 !important;
}